@model ProjetoFinal.Models.Ordem

@{
    ViewData["Title"] = "Novo";
}

<h2>Novo</h2>

<h4>Ordem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qdte" class="control-label"></label>
                <input asp-for="qdte" class="form-control" />
                <span asp-validation-for="qdte" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <label asp-for="cliente" class="control-label"></label>
                 @Html.DropDownListFor(model => model.cliente, new SelectList(ViewBag.cliente, "ID", "nome"),"Selecione"
                                                                                , new { @class = "form-control" })
                <span asp-validation-for="cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <label asp-for="produto" class="control-label"></label>
                 @Html.DropDownListFor(model => model.produto, new SelectList(ViewBag.produto, "ID", "nome"),"Selecione"
                                                                                , new { @class = "form-control" })
                <span asp-validation-for="produto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
